.grid-view-product-btn {
    box-sizing:border-box;
    padding: 10px 20px;
    border:0.1rem solid #222222;
    margin-left: 20px;
    margin-right:20px;
    height:100%;
    width:100%;
}

.grid-item-btn-container {
    width:100%;
    
    margin-top:20px;
    margin-bottom:20px;
}