#NavbarMain{
    border-bottom: 0.1rem solid #DFE3E8;
}

.nav-container {
    display:flex;
    justify-content:space-between;
    padding:20px 20px;
    max-width:1200px;
    width:100%;
    margin:0 auto;
}

.login-btn {
    border: 0.1rem solid silver;
    padding:10px 20px;
    margin-right:10px;
    cursor:pointer;
}

.signup-btn {
    border: 0.1rem solid silver;
    padding:10px 20px;
    margin-right:10px;
}

.logo {
    font-weight:600;
    font-size:24px;
}