.product-image-container{
    width:30%;
    margin:20px auto;
}

.product-image-input-row {
    margin:0 auto;
}

.product-image-input-row input{
    margin:0 auto;
    display:block;
}

.product-image-container img {
    width:100%;
    display:block;
}

.signup-error {
    font-size:12px;
    color: red;
}